<%- include("header") -%>  
    <div class="position-absolute top-50 start-50 translate-middle">
      <h1 class="text-center">SmartKid</h1>

      <div class="dropdown form-check-inline">
        <button
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Addition
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="add/easy" class="dropdown-item">Easy</a>
          </li>
          <li>
            <a href="/add/medium" class="dropdown-item">Medium</a>
          </li>
          <li>
            <a href="/add/hard" class="dropdown-item">Hard</a>
          </li>
        </ul>
      </div>

      <div class="dropdown form-check-inline">
        <button
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Subtraction
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="/sub/easy" class="dropdown-item">Easy</a>
          </li>

          <li>
            <a href="/sub/medium" class="dropdown-item">Medium</a>
          </li>
          <li>
            <a href="/sub/hard" class="dropdown-item">Hard</a>
          </li>
        </ul>
      </div>

      <div class="dropdown form-check-inline">
        <button
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Multiplication
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="/mul/easy" class="dropdown-item">Easy</a>
          </li>

          <li>
            <a href="/mul/medium" class="dropdown-item">Medium</a>
          </li>
          <li>
            <a href="/mul/hard" class="dropdown-item">Hard</a>
          </li>
        </ul>
      </div>

      <div class="dropdown form-check-inline">
        <button
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Division
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="/div/easy" class="dropdown-item">Easy</a>
          </li>

          <li>
            <a href="/div/medium" class="dropdown-item">Medium</a>
          </li>
          <li>
            <a href="/div/hard" class="dropdown-item">Hard</a>
          </li>
        </ul>
      </div>

      <a href="/result" class="btn btn-primary">Score</a>
    </div>

<%- include("footer") -%> 