<%- include("header") -%> <% if (isItWrong) { %>
<div class="alert alert-danger" role="alert">
  Incorrect answer, try again.
</div>
<% } %>
<div class="position-absolute top-50 start-50 translate-middle">
  <h1 class="text-center">SmartKid</h1>
  <h2 class="text-center"><%=question%></h2>

  <form class="input-group" method="post">
    <input
      class="form-control"
      type="text"
      name="answer"
      id="answer"
      placeholder="answer"
    />
    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
  </form>
  <a href="/" class="btn btn-primary">Home</a>
</div>
<%- include("footer") -%>
