<%- include("header") -%>  
    <div class="position-absolute top-50 start-50 translate-middle">
      <h1 class="text-center"><%=wrong %></h1>
      <h2 class="text-center"><%=score %></h2>

      <a href="/" class="btn btn-primary">Home</a>
    </div>
<%- include("footer") -%> 