<%- include("header") -%>  
    <div class="position-absolute top-50 start-50 translate-middle">
      <h1 class="text-center"><%=wrong %></h1>
      <h2 class="text-center"><%=score %></h2>

      <form action="/wrong" method="post">
        <button class="btn btn-primary" type="submit">Home</button>
      </form>
    </div>
<%- include("footer") -%> 